<script type="text/javascript">
(function(){
    const delegation = document.querySelector('.contents_box');
    function delegationFunc(e){
        let elem = e.target;
        console.log(elem);
        while(!elem.getAttribute('data-name')){
            elem = elem.parentNode;
            if(elem.nodeName ==='BODY'){
                elem = null;
                return;
            }
        }
        
        if(elem.matches('[data-name="heartbeat"]')){
            console.log("Heart!");
            var pk = elem.getAttribute('name');
            console.log(pk);
            
            $.ajax({
                type: "POST",
                url: "{% url 'post:post_like' %}",
                data: {'pk':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType:"json",
                success: function(response){
                    alert('Success!!')
                    var likeCount = document.querySelector('#like-count-'+pk);
                    likeCount.innerHTML = response.like_count + ' Likes'
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        }else if(elem.matches('[data-name="bookmark]')){
            console.log('Bookmarked...');
            var pk = elem.getAttribute('name');
            console.log(pk);
            
            $.ajax({
                type: "POST",
                url: "{% url 'post:post_bookmark' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function(response){
                    var bookmarkCount = document.querySelector('#bookmark-count-'+pk);
                    bookmarkCount.innerHTML = response.bookmark_count + ' Bookmarks'
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        }else if (elem.matches('[data-name="comment"]')){
            console.log('New Comment!')
            let pk = elem.getAttribute('name');
            let content = document.querySelector('#add-comment-post'+pk+'>input[type=text]').value;
            console.log(content)
            
            if(content.length > 140){
                alert("Comment can be up to 140 charactors. You have input "+content.length+"/140.");
                return;
            }
            
            if(content.length == 0){
                alert("Please write your comment. You have input "+content.length+"/140.");
                return;
            }
            
            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_new' %}",
                data: {
                    'pk': pk,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "html",
                success: function(data, textStatus, jqXHR){
                    document.querySelector("#comment-list-ajax-post"+pk).insertAdjacentHTML("afterbegin", data);
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\nMessage:"+request.responseText+"\nError:"+error);
                },
            });
        }else if(elem.matches('[data-name="comment_delete"]')){
            let pk = elem.getAttribute('name');
            $.ajax({
                type:"POST",
                url: "{% url 'post:comment_delete' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token}}',
                },
                dataType: "json",
                success: function(response){
                    if(response.status){
                        document.querySelector('#comment'+pk).remove();
                    }
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\nMessage:"+request.responseText+"\nError:"+error);
                }
            });
        }else if(elem.matches('[data-name="follow"]')){
            let pk = elem.getAttribute('name');
            
            $.ajax({
                type: "POST",
                url: "{% url 'accounts:follow' %}",
                data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token}}',
                },
                dataType: "json",
                success: function(response){
                    if(response.status){
                        document.querySelector('input.follow[name=\''+pk+'\']').value="Following";
                    }else{
                        document.querySelector('input.follow[name=\''+pk+'\']').value="Follow";
                    }
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\nMessage:"+request.responseText+"\nError:"+error);
            })
        }
        elem.classList.toggle('on');
    }    
    delegation.addEventListener('click', delegationFunc);
    
})();
</script>